<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ysjkj.smart.community.user">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.ysjkj.smart.community.provider.base.Application"
        android:allowBackup="true"
        android:label="用户中心"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:label">
        <activity android:name=".mvp.ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".mvp.ui.activity.RegisterActivity" />
        <activity android:name=".mvp.ui.activity.SetPasswordActivity" />
        <activity android:name=".mvp.ui.activity.ChooseCommunitActivity" />
        <activity android:name=".mvp.ui.activity.SetHouseInfoActivity"></activity>
    </application>

</manifest>