<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysjkj.smart.community.user">

    <application
        android:name="com.piaolac.core.base.BaseApplication"
        android:allowBackup="true"
        android:label="用户中心"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".mvp.ui.activity.RegisterActivity" />
        <activity android:name=".mvp.ui.activity.SetPasswordActivity" />
        <activity android:name=".mvp.ui.activity.ChooseCommunitActivity" />
        <activity android:name=".mvp.ui.activity.SetHouseInfoActivity"></activity>
    </application>

</manifest>